/* body{
    overflow: hidden;
} */

@media (min-width: 992px){
.navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: fixed;
}
}

.navTitle{
    color: #fcde89 !important;
    font-weight: bolder;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fcde89 !important;
    font-weight: bolder;
    border-bottom: 1px solid #fcde89;
    transition: border .3s;
}

.dropdownCLS:hover {
    color: #fcde89 !important;
    font-weight: bolder;
    border-bottom: 0px !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #ffffff !important;
    background-color: #fcde89 !important;
    font-weight: bolder;
}

.animBorder::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fcde89 !important;
    transition: width .3s;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

.entireDiv {
    /* background: url(../Images/HoneycombBG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    width: 100vw;
    margin-top: 2vh;
}

.header-info {
    color: #000000 !important;
    margin-top: 28vh;
    text-align: center;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000 !important;
}

/* .carousel-item {
    height: 75vh;
    margin-top: 22vh;
} */

.card {
    margin-top: 4vh !important;
}

.about-section {
    padding: 100px;
    text-align: center;
    background-color: #000000;
    color: white;
    margin-top: 10vh;
    height: 100vh;
  }

  .carousel {
    position: relative;
}

.carousel-control-next-icon {
    background-color: black;
    border-radius: 50%;
}

.carousel-control-prev-icon {
    background-color: black;
    border-radius: 50%;
}

.swatch input:checked+label {
    border: 1px solid #eee;
    background: #000;
    color: #fff
}

.swatch .color input:checked+label {
    box-shadow: 0 0 2px 2px #d6d6d6
}

.swatch label:hover {
    background: #eee
}

.sizeBtnCls{
    border: 1px solid black;
}

.sizeBtnClsActive{
    background-color: #000000;
    color: white;
}

.whiteBtn{
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
    height: 3vh;
    
}

.grayBtn{
    border-radius: 50%;
    background-color: gray;
    border: 1px solid black;
    height: 3vh;
}

.navyblueBtn{
    border-radius: 50%;
    background-color: navy;
    border: 1px solid black;
    height: 3vh;
}

.maroonBtn{
    border-radius: 50%;
    background-color: maroon;
    border: 1px solid black;
    height: 3vh;
}

.blackBtn{
    border-radius: 50%;
    background-color: black;
    border: 1px solid black;
    height: 3vh;
}
