/* body{
    overflow: hidden;
} */

@media (min-width: 992px){
.navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: fixed;
}
}

.navTitle{
    color: #fcde89 !important;
    font-weight: bolder;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fcde89 !important;
    font-weight: bolder;
    border-bottom: 1px solid #fcde89;
    transition: border .3s;
}

.dropdownCLS:hover {
    color: #fcde89 !important;
    font-weight: bolder;
    border-bottom: 0px !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #ffffff !important;
    background-color: #fcde89 !important;
    font-weight: bolder;
}

.animBorder::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fcde89 !important;
    transition: width .3s;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

.entireDiv {
    /* background: url(../Images/HoneycombBG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    height: 100vh;
    width: 100vw;
    position: relative;
    margin-top: 2vh;
}

.header-info {
    color: #000000 !important;
    margin-top: 28vh;
    text-align: center;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000 !important;
}

.carousel-item {
    height: 75vh;
    margin-top: 22vh;
}